<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aa.droid.norbo.projects.edzesnaplo3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/enlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".providers.NaploContentProvider"
            android:authorities="aa.dorid.norbo.projects.edzesnaplo3.contentprovider"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".widgets.NaploCntAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/naplo_cnt_app_widget_info" />
        </receiver>
        <service android:name=".widgets.ListItemService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <activity
            android:name=".Tevekenyseg"
            android:label="@string/title_activity_tevekenyseg" />
        <activity
            android:name=".NaploActivity"
            android:parentActivityName=".Tevekenyseg" />
        <activity android:name=".Edzes" />
        <activity android:name=".GyakorlatValaszto" />
        <activity
            android:name=".MentettNaploActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>