<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aa.droid.norbo.projects.edzesnaplo3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/enlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".mvvm.di.EdzesnaploApplication">
        <activity android:name=".mvvm.ui.MvvmBelepoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <provider-->
<!--            android:name=".providers.NaploContentProvider"-->
<!--            android:authorities="aa.dorid.norbo.projects.edzesnaplo3.contentprovider"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" />-->

<!--        <receiver android:name=".widgets.NaploCntAppWidget">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/naplo_cnt_app_widget_info" />-->
<!--        </receiver>-->

<!--        <service-->
<!--            android:name=".widgets.ListItemService"-->
<!--            android:exported="false"-->
<!--            android:permission="android.permission.BIND_REMOTEVIEWS" />-->

        <activity android:name=".mvvm.ui.NaploDetailsActivity"/>
        <activity android:name=".mvvm.ui.TevekenysegActivity"/>
        <activity android:name=".mvvm.ui.VideoActivity"/>
    </application>

</manifest>